<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scu.edu.cn.dao.mapper.ReceiptMapper" >
  <resultMap id="BaseResultMap" type="scu.edu.cn.dao.entity.Receipt" >
    <id column="receipt_id" property="receiptId" jdbcType="INTEGER" />
    <result column="contract_id" property="contractId" jdbcType="INTEGER" />
    <result column="real_received_time" property="realReceivedTime" jdbcType="DATE" />
    <result column="received_money" property="receivedMoney" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    receipt_id, contract_id, real_received_time, received_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from receipt
    where receipt_id = #{receiptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from receipt
    where receipt_id = #{receiptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="scu.edu.cn.dao.entity.Receipt" >
    insert into receipt (receipt_id, contract_id, real_received_time, 
      received_money)
    values (#{receiptId,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}, #{realReceivedTime,jdbcType=DATE}, 
      #{receivedMoney,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="scu.edu.cn.dao.entity.Receipt" >
    insert into receipt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receiptId != null" >
        receipt_id,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="realReceivedTime != null" >
        real_received_time,
      </if>
      <if test="receivedMoney != null" >
        received_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receiptId != null" >
        #{receiptId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="realReceivedTime != null" >
        #{realReceivedTime,jdbcType=DATE},
      </if>
      <if test="receivedMoney != null" >
        #{receivedMoney,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scu.edu.cn.dao.entity.Receipt" >
    update receipt
    <set >
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="realReceivedTime != null" >
        real_received_time = #{realReceivedTime,jdbcType=DATE},
      </if>
      <if test="receivedMoney != null" >
        received_money = #{receivedMoney,jdbcType=INTEGER},
      </if>
    </set>
    where receipt_id = #{receiptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scu.edu.cn.dao.entity.Receipt" >
    update receipt
    set contract_id = #{contractId,jdbcType=INTEGER},
      real_received_time = #{realReceivedTime,jdbcType=DATE},
      received_money = #{receivedMoney,jdbcType=INTEGER}
    where receipt_id = #{receiptId,jdbcType=INTEGER}
  </update>
  <select id="selectAllReceipt" resultMap="BaseResultMap">
    SELECT
    receipt_id,contract_id,real_received_time,received_money
    FROM receipt
  </select>
</mapper>