<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>新华亿母婴公司</title>

    <!-- Bootstrap core CSS -->
    <link href="/xhy/css/bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/xhy/css/modern-business.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/xhy/main">新华亿母婴</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">服务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/xhy/main/contact">联系我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">个人中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"> 登录 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/xhy/img/slide.jpg')">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item" style="background-image: url('/xhy/img/slide2.jpg')">-->
                <!--<div class="carousel-caption d-none d-md-block">-->

                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
            <!--<div class="carousel-item" style="background-image: url('/xhy/img/slide3.jpg')">-->
                <!--<div class="carousel-caption d-none d-md-block">-->

                <!--</div>-->
            <!--</div>-->
            <div class="carousel-item" style="background-image: url('/xhy/img/slide4.jpg')">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/xhy/img/slide5.jpg')">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">欢迎来到新华亿母婴</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="color: #F08080;">专业</h4>
                <div class="card-body">
                    <p class="card-text">
                    <li>新华亿母婴培训学校技能担保</li>
                    <li>国家ISO9001体系认证.</li>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="color: #F08080;">安全</h4>
                <div class="card-body">
                    <p class="card-text">
                    <li>医院护理级标准</li>
                    <li>成都市妇女儿童中心医院月嫂指定供应商.</li>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="color: #F08080;">保障</h4>
                <div class="card-body">
                    <p class="card-text">
                    <li> PICC百万险种保驾护航</li>
                    <li> 雇主家庭成员及护理人员双方人身财产安全担保.</li>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>金牌育婴师</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/1.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">王玉琼</a>
                    </h4>
                    <p class="card-text">
                        ……王姐很有爱心，经验丰富，做事情有耐心也很细心，
                        月子餐做得也很好吃，每天换着花样做，虽然清淡，
                        看上去又有食欲，吃起来味道也好，不腻，我的身体恢复得也快，
                        无论白天还是晚上，都把宝宝照顾的很周到，很感谢。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/2.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">徐霞</a>
                    </h4>
                    <p>
                        ……小徐不仅性格外向开朗，为人踏实肯干，
                        做事积极主动。小徐虽然年轻，但是业务技能都很精通：
                        开奶、通乳、月子餐（花样多，味道好，非常用心）、
                        照料产妇和宝宝等等……
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/3.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">潘秀琴</a>
                    </h4>
                    <p class="card-text">
                        ……潘姐这段时间对宝宝的耐心照顾，真心自己轻松了好多，
                        也帮助我们度过了一个愉快的满月～我家宝宝脾气大，
                        稍微哪点没对就狂闹，潘姐从来都是在灰常耐心的安抚下寻找问题，真心不错
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/4.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">胡邦芬</a>
                    </h4>
                    <p class="card-text">
                        ……胡阿姨每天很早就给我们准备早餐，还有午餐和晚餐，
                        以及每日的加餐！每天换着花样的让我吃的既美味又营养！
                        在带孩子上也是充满关爱和耐心，每次吃完都要拍嗝，
                        即使大半夜也要拍出嗝来，说这样宝宝才能睡得香。
                        对于我这种首次母乳喂养的麻麻，她一直在鼓励我坚持！……
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/5.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">周丽</a>
                    </h4>
                    <p class="card-text">
                        ……小周阿姨，做事很麻利，心也很细，对于新生儿应急处理也是经验多多，
                        最主要是对宝宝好，性格开朗，这样的阿姨性格，我想宝妈们应该都喜欢吧，
                        最后建议宝妈们如果找到好的月嫂阿姨，最好签3个月，因为宝宝两个月宝宝基本认人了……
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/xhy/img/6.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">胡禄琼</a>
                    </h4>
                    <p class="card-text">
                        ……胡禄琼人非常好，从医院就开始来照顾我，和我一起并肩作战。
                        为我开奶和照顾宝宝付出了很多。到了会所也精心照顾我侧切伤口，
                        开导我，让我远离产后抑郁。喂养宝宝，宝宝长得非常的好，我恢复的也很好……
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>成都新华亿母婴公司</h2>
            <p>我们将竭诚为您提供以下服务:</p>
            <ul>
                <li>
                    <strong>产妇常规护理</strong>
                </li>
                <li>新生儿常规护理</li>
                <li>清洁卫生打扫</li>
                <li>育儿教学指导</li>
                <li>月子餐指导及制作</li>
                <li>产后情绪疏导</li>
            </ul>

            <p>员工制垂直管理，所有阿姨与公司直接签订劳动合同，公司担保，直接约束 阿姨行为；
                <br>
            售后无忧，公司督导全程监控，PICC独家定制1000000家政险，保障雇主 及护理人员双方人身、财产安全。 </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="/xhy/img/wechat.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>母婴管家团队一对一服务，随时解答育儿、服务相关问题；</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">联系我们</a>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 新华亿母婴 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/xhy/js/jquery.min.js"></script>
<script src="/xhy/js/bootstrap.bundle.min.js"></script>

</body>

</html>
